## Basic imports

In [1]:
import pandas as pd
import numpy as np

## Reading data

In [20]:
df = pd.read_csv('concrete_data.csv')
df = df.astype('float64')
print(df.shape)
df.head(5)

(1030, 9)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28.0,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28.0,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270.0,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365.0,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360.0,44.30

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   float64
 8   Strength            1030 non-null   float64
dtypes: float64(9)
memory usage: 72.5 KB

All values are non-null, which is good

## Splitting data into predictors and target

In [22]:
cols = df.columns
x = df[cols[cols != 'Strength']] # Predictors
y = df[['Strength']] # Target

In [23]:
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360.0

In [24]:
y.head()

   Strength
0     79.99
1     61.89
2     40.27
3     41.05
4     44.30

## Turning values into numpy arrays

In [25]:
x_vals = np.array(x, ndmin = 2)
y_vals = np.array(y, ndmin = 1)

print('X shape : ', x_vals.shape)
print('Y shape : ', y_vals.shape)

X shape :  (1030, 8)
Y shape :  (1030, 1)

## Imports for making the model and testing it

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from keras.models import Sequential
from keras.layers import Dense

In [31]:
def make_model():
    
    model = Sequential()
    model.add(Dense(10, activation = 'relu', input_shape = (x_vals.shape[1], )))
    model.add(Dense(1))
    
    model.compile(optimizer = 'adam', loss = 'mse')
    return model

## Main training and testing loop

In [43]:
mse_list = [] # List to store all 50 errors

# main loop
for i in range(50):
    
    train_x, test_x, train_y, test_y = train_test_split(x_vals, y_vals, test_size = 0.3)

    model = make_model()
    model.fit(train_x, train_y, epochs = 50, verbose = 0)
    print(f'Training round {i + 1}')

    preds = model.predict(test_x)
    error = mean_squared_error(test_y, preds)
    print('Error : ', error)
    print('-' * 50)
    mse_list.append(error)

Training round 1
Error :  147.62594332208556
--------------------------------------------------
Training round 2
Error :  113.40976605844617
--------------------------------------------------
Training round 3
Error :  133.1857234642808
--------------------------------------------------
Training round 4
Error :  166.88232162921742
--------------------------------------------------
Training round 5
Error :  515.7839629127968
--------------------------------------------------
Training round 6
Error :  88.61824484131563
--------------------------------------------------
Training round 7
Error :  1464.1224611744615
--------------------------------------------------
Training round 8
Error :  126.74801213832279
--------------------------------------------------
Training round 9
Error :  158.44799274572347
--------------------------------------------------
Training round 10
Error :  110.00182215085799
--------------------------------------------------
Training round 11
Error :  115.98080366875082
--------------------------------------------------
Training round 12
Error :  188.0550001521186
--------------------------------------------------
Training round 13
Error :  125.98588596132117
--------------------------------------------------
Training round 14
Error :  133.36827553624713
--------------------------------------------------
Training round 15
Error :  171.58450523527927
--------------------------------------------------
Training round 16
Error :  312.5151940126737
--------------------------------------------------
Training round 17
Error :  969.093713695132
--------------------------------------------------
Training round 18
Error :  1828.589667783995
--------------------------------------------------
Training round 19
Error :  337.05261791718993
--------------------------------------------------
Training round 20
Error :  267.03831650271286
--------------------------------------------------
Training round 21
Error :  288.5277161618736
--------------------------------------------------
Training round 22
Error :  260.539871164995
--------------------------------------------------
Training round 23
Error :  169.03704410969175
--------------------------------------------------
Training round 24
Error :  124.86837602689302
--------------------------------------------------
Training round 25
Error :  103.92233581865104
--------------------------------------------------
Training round 26
Error :  173.65462292670085
--------------------------------------------------
Training round 27
Error :  107.82902950075433
--------------------------------------------------
Training round 28
Error :  213.35953950988474
--------------------------------------------------
Training round 29
Error :  2707.4500320332427
--------------------------------------------------
Training round 30
Error :  137.5736737905456
--------------------------------------------------
Training round 31
Error :  126.60159376762829
--------------------------------------------------
Training round 32
Error :  121.9636568243273
--------------------------------------------------
Training round 33
Error :  1293.818760470521
--------------------------------------------------
Training round 34
Error :  121.51959412578879
--------------------------------------------------
Training round 35
Error :  373.3524284008715
--------------------------------------------------
Training round 36
Error :  171.01735585078913
--------------------------------------------------
Training round 37
Error :  183.4483624410063
--------------------------------------------------
Training round 38
Error :  138.0575440617355
--------------------------------------------------
Training round 39
Error :  338.57214623262854
--------------------------------------------------
Training round 40
Error :  129.66734262608531
--------------------------------------------------
Training round 41
Error :  92.38010023516625
--------------------------------------------------
Training round 42
Error :  562.7238488732423
--------------------------------------------------
Training round 43
Error :  112.10719058144673
--------------------------------------------------
Training round 44
Error :  72.72765846422072
--------------------------------------------------
Training round 45
Error :  165.69280135299195
--------------------------------------------------
Training round 46
Error :  114.83926090393108
--------------------------------------------------
Training round 47
Error :  106.08807227029887
--------------------------------------------------
Training round 48
Error :  125.08101578318212
--------------------------------------------------
Training round 49
Error :  204.9763896674982
--------------------------------------------------
Training round 50
Error :  144.9179948697611
--------------------------------------------------

In [44]:
mse_list = np.array(mse_list) # Turning list into numpy array

print('Mean of errors : ', mse_list.mean())
print('Standard deviation : ', mse_list.std())

Mean of errors :  329.20811179498565
Standard deviation :  489.8610070360774