## Basic imports

In [1]:
import pandas as pd
import numpy as np

## Reading data

In [2]:
df = pd.read_csv('concrete_data.csv')
df = df.astype('float64')
print(df.shape)
df.head(5)

(1030, 9)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28.0,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28.0,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270.0,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365.0,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360.0,44.30

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   float64
 8   Strength            1030 non-null   float64
dtypes: float64(9)
memory usage: 72.5 KB

All values are non-null, which is good

## Splitting data into predictors and target

In [4]:
cols = df.columns
x = df[cols[cols != 'Strength']] # Predictors
y = df[['Strength']] # Target

## Normalizing data

In [7]:
x = (x - x.mean())/x.std()
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
y.head()

   Strength
0     79.99
1     61.89
2     40.27
3     41.05
4     44.30

## Turning values into numpy arrays

In [9]:
x_vals = np.array(x, ndmin = 2)
y_vals = np.array(y, ndmin = 1)

print('X shape : ', x_vals.shape)
print('Y shape : ', y_vals.shape)

X shape :  (1030, 8)
Y shape :  (1030, 1)

## Imports for making the model and testing it

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from keras.models import Sequential
from keras.layers import Dense

In [11]:
def make_model():
    
    model = Sequential()
    model.add(Dense(10, activation = 'relu', input_shape = (x_vals.shape[1], )))
    model.add(Dense(1))
    
    model.compile(optimizer = 'adam', loss = 'mse')
    return model

## Main training and testing loop

In [12]:
mse_list = [] # List to store all 50 errors

# main loop
for i in range(50):
    
    train_x, test_x, train_y, test_y = train_test_split(x_vals, y_vals, test_size = 0.3)

    model = make_model()
    model.fit(train_x, train_y, epochs = 50, verbose = 0)
    print(f'Training round {i + 1}')

    preds = model.predict(test_x)
    error = mean_squared_error(test_y, preds)
    print('Error : ', error)
    print('-' * 50)
    mse_list.append(error)

Training round 1
Error :  448.9498187426883
--------------------------------------------------
Training round 2
Error :  348.1941849909621
--------------------------------------------------
Training round 3
Error :  304.5561704421281
--------------------------------------------------
Training round 4
Error :  586.3211033064907
--------------------------------------------------
Training round 5
Error :  270.9928916825817
--------------------------------------------------
Training round 6
Error :  301.66483531282535
--------------------------------------------------
Training round 7
Error :  343.6461231774476
--------------------------------------------------
Training round 8
Error :  327.13033655475334
--------------------------------------------------
Training round 9
Error :  239.2097256250434
--------------------------------------------------
Training round 10
Error :  354.5692918451405
--------------------------------------------------
Training round 11
Error :  346.79229466683165
--------------------------------------------------
Training round 12
Error :  458.42510898436836
--------------------------------------------------
Training round 13
Error :  312.78439414131395
--------------------------------------------------
Training round 14
Error :  364.1736428942549
--------------------------------------------------
Training round 15
Error :  645.2236558248667
--------------------------------------------------
Training round 16
Error :  577.904863535081
--------------------------------------------------
Training round 17
Error :  758.7073261481723
--------------------------------------------------
Training round 18
Error :  515.4557745638467
--------------------------------------------------
Training round 19
Error :  432.75894074857246
--------------------------------------------------
Training round 20
Error :  341.5726758602273
--------------------------------------------------
Training round 21
Error :  494.9941138271672
--------------------------------------------------
Training round 22
Error :  330.04327479128585
--------------------------------------------------
Training round 23
Error :  375.5846721786518
--------------------------------------------------
Training round 24
Error :  256.87639790990954
--------------------------------------------------
Training round 25
Error :  336.4506942015349
--------------------------------------------------
Training round 26
Error :  291.9340892835989
--------------------------------------------------
Training round 27
Error :  437.2409426043052
--------------------------------------------------
Training round 28
Error :  565.8790627208075
--------------------------------------------------
Training round 29
Error :  457.2528947387322
--------------------------------------------------
Training round 30
Error :  351.43403509719025
--------------------------------------------------
Training round 31
Error :  283.563590725781
--------------------------------------------------
Training round 32
Error :  462.16974835841626
--------------------------------------------------
Training round 33
Error :  286.4997657694429
--------------------------------------------------
Training round 34
Error :  278.2807357996474
--------------------------------------------------
Training round 35
Error :  212.85612588770857
--------------------------------------------------
Training round 36
Error :  319.8041816909018
--------------------------------------------------
Training round 37
Error :  321.0868123246419
--------------------------------------------------
Training round 38
Error :  446.33350024641373
--------------------------------------------------
Training round 39
Error :  269.76254448614753
--------------------------------------------------
Training round 40
Error :  372.7434247252598
--------------------------------------------------
Training round 41
Error :  347.9035245016762
--------------------------------------------------
Training round 42
Error :  422.4663686027654
--------------------------------------------------
Training round 43
Error :  596.102078506969
--------------------------------------------------
Training round 44
Error :  309.6715815323807
--------------------------------------------------
Training round 45
Error :  271.6381174582326
--------------------------------------------------
Training round 46
Error :  245.00274130131274
--------------------------------------------------
Training round 47
Error :  263.732329968932
--------------------------------------------------
Training round 48
Error :  297.50495253310646
--------------------------------------------------
Training round 49
Error :  1159.4401750346356
--------------------------------------------------
Training round 50
Error :  325.5978581269349
--------------------------------------------------

In [13]:
mse_list = np.array(mse_list) # Turning list into numpy array

print('Mean of errors : ', mse_list.mean())
print('Standard deviation : ', mse_list.std())

Mean of errors :  393.3776698796417
Standard deviation :  158.8985379764239

### The mean of the 50 errors is higher than it was was before, however the standard deviation is much lower